<div class="center hero-unit">
	<h1>Welcome to the Ultimate Jokes</h1>
	<h2>This is the home page for Ultimate Jokes!</h2>

    <%= link_to "Sign up now!", new_user_path, :class => "btn btn-large btn-primary" %>
</div>