<h1>Editing user</h1>

<%= render 'form' %>

<div class="actions">
    <button class="btn btn-primary" type="submit">
        <%= link_to 'Delete your account', @user, confirm: 'Are you sure?', method: :delete %>
    </button>
</div>
<%= link_to 'Back', @user, :class => "btn btn-inverse" %>