<div class="span4">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">User info:</li>
			<% if current_user %>
				<li><%= link_to "My profile", user_path(current_user.id) %></li>
			<% else %>	
				<li><%= link_to "Sign up now to submit your own jokes!", new_user_path %></li>
			<% end %>		

			<li class="nav-header">Jokes:</li>
			<li><%= link_to "All jokes", jokes_path %></li>
			<% if current_user %>
				<li><%= link_to "New joke", new_joke_path %></li>
				<li>My Jokes (todo)</li>
			<% end %>	
		</ul>
	</div>
</div>