<%= render partial: 'sidebar' %>

<div class="span8">
	<h3>New jokes:</h3>
	<% @jokes.each do |j| %>
		<div class="row-fluid">
			<h3><%= link_to j.title, joke_path(j) %></h3>
			<p><%= j.content %></p>
		</div>
		<hr />
	<% end %>
</div>