<%= render partial: 'sidebar' %>

<div class="span8">
	<% @jokes.each do |j| %>
		<div class="row-fluid">
			<h3><%= link_to j.title, joke_path(j) %></h3>
			<p><%= j.content %></p>
			<p>Points: <%= j.points %></p>
		</div>
	<% end %>
</div>