<footer class="footer" style="padding-top:20px;">
	<div class="well well-small">
		Ultimate Jokes - Funniest Sh!t on the Planet <i class="icon-thumbs-up"></i> <br /><br />
	<small>
		Created by: <br />
		Joonas Ahola <br />
		Markus Aro <br />
		Teemu Tiilikainen
	</small>
</div>
</footer>