<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Ultimate Jokes", root_path, id: "logo", class: "brand" %>
			<nav>
				<ul class="nav pull-right">
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li>
						<%= link_to "Jokes", jokes_path %>
					</li>
					<li>
						<a href="#">Sign in</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>